<% cache dossier do %>
<tr id="dossier-<%= dossier.id %>" class="dossier <%= cycle('odd', 'even') %>" data-href="<%= url_for dossier %>">
  <td><%= @new_signature ? dossier.new_signature : dossier.signature %></td>
  <td>
    <span class="title"><%= dossier.title %></span>
    <br/>
    <span class="keywords"><%= dossier.keywords.join(', ') %></span>
  </td>
  <td><%= dossier.container_types.map{|container_type| container_type.code}.join(', ') %></td>
  <td><%= dossier.locations.map{|location| location.code}.join(', ') %></td>
  <td style="text-align: right"><%= number_with_delimiter(dossier.document_count) %></td>
  <td style="width: 70px">
    <% if user_signed_in? %>
      <%= link_to image_tag('icons/edit.png', :title => t('crud.edit', :model => '')), edit_dossier_path(dossier) %>
      <%= link_to image_tag('icons/delete.png', :title => t('crud.delete', :model => '')), dossier, :confirm => t_confirm_delete(dossier), :remote => true, :method => :delete %>
    <% end %>
  </td>
</tr>
<% end %>
