- cache [dossier.cache_key, current_user.try(:roles)] do
  %tr[dossier]{:class => cycle('odd', 'even')}
    - cache dossier do
      %td= dossier.signature
      %td
        %span.title= link_to dossier.title, dossier, {'data-href-container' => 'tr'}
        %br/
        %span.keywords= dossier.keywords.join(', ')
      %td.document_count.availability
        = number_with_delimiter(dossier.document_count)
        = availability_notes(dossier)
      %td.action-links
        - if user_signed_in?
          = link_to image_tag('icons/edit.png', :title => t('tooltips.dossiers.edit')), edit_dossier_path(dossier)
          = link_to image_tag('icons/delete.png', :title => t('tooltips.dossiers.edit')), dossier, :confirm => t_confirm_delete(dossier), :remote => true, :method => :delete
