<tr class="<%= cycle('odd', 'even') %>">
  <td><%= dossier.signature %></td>
  <td><%= dossier.title %></td>
  <td><%= dossier.kind %></td>
  <td><%= dossier.location %></td>
  <td><%= dossier.total_amount %></td>
  <td>
    <%= link_to image_tag('icons/show.png', :title => 'Show'), dossier %>
    <%= link_to image_tag('icons/edit.png', :title => 'Edit'), edit_dossier_path(dossier) %>
    <%= link_to image_tag('icons/delete.png', :title => 'Destroy'), dossier, :confirm => 'Are you sure?', :method => :delete %>
  </td>
</tr>
