<%= semantic_form_for(@dossier) do |f| %>
  <%= f.inputs do %>
    <%= f.semantic_errors :containers %>
    <%= f.input :signature %>
    <%= f.input :title %>
    <%= f.input :keyword_text, :as => :text, :input_html => {:class => 'autogrow', :rows => @dossier.keyword_list.size + 1} %>
    <%= f.input :relation_list, :as => :text, :input_html => {:class => 'autogrow', :rows => @dossier.relations.size + 1} %>
    <a id="insert_relation" href="#">Querverweis hinzufügen</a>
    <%= f.input :first_document_year, :input_html => {:size => '6'} %>
    <%= f.input :dossier_number_list, :as => :text, :input_html => {:class => 'autogrow', :rows => @dossier.numbers.size + 1} %>
  <% end %>

  <h3>Dossiers</h3>
  <div class="ce_table">
    <table class="ce_table" id="container-list" style="width: 100%">
      <%= render 'containers/list_header', :form_helper => f %>
      <%= f.semantic_fields_for :containers do |container| %>
        <%= render 'containers/form', :container => container %>
      <% end %>
    </table>
  </div>

  <%= f.buttons do %>
    <%= f.commit_button %>
  <% end %>
<% end %>
