<%= semantic_form_for(@dossier) do |f| %>
  <% if @dossier.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@dossier.errors.count, "error") %> prohibited this dossier from being saved:</h2>
    <ul>
    <% @dossier.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.inputs :name => "Basic" do %>
    <%= f.input :signature %>
    <%= f.input :title %>
    <%= f.input :kind %>
    <%= f.input :location %>
  <% end %>
  <%= f.buttons do %>
    <%= f.commit_button %>
  <% end %>
<% end %>
