= semantic_form_for(@dossier) do |f|
  = f.inputs do
    = f.semantic_errors :containers
    = f.input :internal
    = f.input :signature, :input_html => {:size => '12'}
    = f.input :title, :input_html => {:style => 'width: 100%'}
    = f.input :description, :as => :ckeditor, :input_html => {:class => 'autogrow', :rows => 5, :width => '74%'}
    ~ f.input :keyword_text, :as => :text, :input_html => {:class => 'autogrow', :rows => @dossier.keyword_list.size + 1}
    %li#dossier_back_relations
      %label= t_attr(:back_relations)
      %ul.content
        - @dossier.back_relations.each do |relation|
          %li= link_to_relation relation

    ~ f.input :relation_list, :as => :text, :input_html => {:class => 'autogrow', :rows => @dossier.relations.size + 1}
    = f.input :add_relation, :placeholder => true, :input_html => {:style => 'width: 74%'}
    = f.input :first_document_year, :input_html => {:size => '6'}
    ~ f.input :dossier_number_list, :as => :text, :input_html => {:class => 'autogrow', :rows => @dossier.numbers.size + 1}

  :javascript
    var type_codes = #{ContainerType.all.map {|e| e.code }.to_json};
    var location_codes = #{Location.all.map {|e| e.code }.to_json};

  %table#container-list.ce_table{:style => "width: 100%"}
    = render 'containers/list_header', :form_helper => f
    = f.semantic_fields_for :containers do |container|
      = render 'containers/form', :container => container

  = f.actions do
    = f.action(:submit)
