<%= form_for(@dossier) do |f| %>
  <% if @dossier.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@dossier.errors.count, "error") %> prohibited this dossier from being saved:</h2>
    <ul>
    <% @dossier.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :signature %><br />
    <%= f.text_field :signature %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
