= semantic_form_for resource do |f|
  = f.inputs do
    = f.semantic_errors :containers
    = f.input :internal
    = f.input :signature, :input_html => {:size => '12'}
    = f.input :title, :input_html => {:style => 'width: 100%'}
    = f.input :description, :as => :ckeditor, :input_html => {:class => 'autogrow', :rows => 5, :ckeditor => { :width => '74%' }}
    ~ f.input :keyword_text, :as => :text, :input_html => {:class => 'autogrow', :rows => resource.keyword_list.size + 1}

    ~ f.input :relation_list, :as => :text, :input_html => {:class => 'autogrow', :rows => resource.relations.size + 1}
    = f.input :add_relation, :placeholder => true, :input_html => {:style => 'width: 74%'}
    = f.input :first_document_year, :input_html => {:size => '6', :autocomplete => :off}
    ~ f.input :dossier_number_list, :as => :text, :input_html => {:class => 'autogrow', :rows => resource.numbers.size + 1}

  :javascript
    var type_codes = #{ContainerType.all.map {|e| e.code }.to_json};
    var location_codes = #{Location.all.map {|e| e.code }.to_json};

  %table#container-list.ce_table{:style => "width: 100%"}
    = render 'containers/list_header', :form_helper => f
    #containers
      = f.semantic_fields_for :containers do |container|
        #containers_list
        = render 'container_fields', :f => container

  = f.actions do
    = f.action(:submit)
