- cache [@dossier.cache_key, @dossier.tags, 'form'] do
  = javascript_include_tag :ckeditor
  = semantic_form_for(@dossier) do |f|
    = f.inputs do
      = f.semantic_errors :containers
      = f.input :internal
      = f.input :signature, :input_html => {:size => '12'}
      = f.input :title, :input_html => {:style => 'width: 100%'}
      = f.input :description, :as => :ckeditor, :input_html => {:class => 'autogrow', :rows => 5, :width => '74%'}
      ~ f.input :keyword_text, :as => :text, :input_html => {:class => 'autogrow', :rows => @dossier.keyword_list.size + 1}
      ~ f.input :relation_list, :as => :text, :input_html => {:class => 'autogrow', :rows => @dossier.relations.size + 1}
      %a#insert_relation{:href => "#", :style => "margin-left:25%;"}
        = t('katalog.insert_relation')
      = f.input :first_document_year, :input_html => {:size => '6'}
      ~ f.input :dossier_number_list, :as => :text, :input_html => {:class => 'autogrow', :rows => @dossier.numbers.size + 1}

    :javascript
      var type_codes = #{ContainerType.all.map {|e| e.code }.to_json};
      var location_codes = #{Location.all.map {|e| e.code }.to_json};
    :css
      .ui-autocomplete {
        max-height: 70px;
        overflow-y: auto;
        overflow-x: hidden;
      }

    .ce_table
      %table#container-list.ce_table{:style => "width: 100%"}
        = render 'containers/list_header', :form_helper => f
        = f.semantic_fields_for :containers do |container|
          = render 'containers/form', :container => container
    = f.buttons do
      = f.commit_button

    - if action_name.eql?('new')
      - content_for :javascript do
        :javascript
          $(document).ready(function() {
            $('#dossier_first_document_year').keyup(function(){
              var field = $(this)
              var value = field.val();
              var disabled = field.data('disabled')

              if(!disabled && value.match(/\d{4}/)){
                var content = "#{escape_javascript(render('containers/new_form', :form => f))}";
                console.log(content)
                var new_record_id = new Date().getTime();
                content = content.replace('dossier_containers_attributes_1_period"',
                                          'dossier_containers_attributes_1_period" value="' + value + ' -"');
                content = content.replace('dossier_containers_attributes_1_container_type_code"',
                                          'dossier_containers_attributes_1_container_type_code" value="DH"');
                content = content.replace(/\\[\\d+\\]/g, "[" + new_record_id + "]");
                content = content.replace(/_\\d+_/g, "_" + new_record_id + "_");
                $('#container-list').append(content);
                field.data('disabled', true)
              }
            });
          });
