<%= semantic_form_for(@dossier) do |f| %>
  <% if @dossier.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@dossier.errors.count, "error") %> prohibited this dossier from being saved:</h2>
    <ul>
    <% @dossier.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.inputs do %>
    <%= f.input :signature %>
    <%= f.input :title %>
    <%= f.input :kind %>
    <%= f.input :location %>
  <% end %>

  <div class="ce_table">
  <table>
    <tr>
      <% for year in @dossier.numbers.map{|number| number.period} %>
        <th><%= year %></th>
      <% end %>
    </tr>
    <tr>
      <% f.semantic_fields_for :numbers do |number| %>
        <td style="padding: 0"><%= number.text_field :amount, :style => 'width: 80%; margin: 0' %></td>
      <% end %>
    </tr>
  </table>
  </div>

  <%= f.buttons do %>
    <%= f.commit_button %>
  <% end %>
<% end %>
