<div id="dossiers" class="ce_table block">
<table>
<% cache :dossier_list_header do %>
  <tr>
    <th><%= t_attr('signature') %></th>
    <th><%= t_attr('title') %></th>
    <th><%= t_attr('container_type') %></th>
    <th><%= t_attr('location') %></th>
    <th style="text-align: right"><%= t_attr('document_count') %></th>
    <th></th>
  </tr>
<% end %>

<%= render @dossiers %>

</table>
</div>
<%= highlight_words(@query) %>

<%= t_paginate %>
