<%= form_tag(search_dossiers_path, :method => :get) do %>
  <%= label 'search', 'text', t('katalog.search') %>
  <%= text_field :search, :text, :style => 'width: 85%' %>
  <%= image_submit_tag('doku-zug.ch/search2.png', :alt => t('katalog.search')) %>
<% end %>

<p>
Beispiele: "Geschichte CH", medizin zug 61.3
</p>

<%= javascript_tag "Form.Element.setValue('search_text', '#{escape_javascript(@query)}');" %>
<%= javascript_tag "$('search_text').activate();" %>
