= render 'search_form'

%h1= t('katalog.main_navigation.edit_year')

= paginated_section :renderer => PaginationListLinkRenderer do
  #dossiers.ce_table.block
    %table
      = render 'batch_edit_last_year/list_header'
      - @tabindex = 1
      = render :partial => 'batch_edit_last_year/dossier', :collection => @dossiers
