<h1>Dossiers</h1>

<div class="ce_table block">
<table>
  <tr>
    <th><%= t('dossier.signature', :scope => [:activerecord, :attributes]) %></th>
    <th><%= t('dossier.title', :scope => [:activerecord, :attributes]) %></th>
    <th><%= t('dossier.kind', :scope => [:activerecord, :attributes]) %></th>
    <th><%= t('dossier.location', :scope => [:activerecord, :attributes]) %></th>
    <th></th>
  </tr>

<% @dossiers.each do |dossier| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= dossier.signature %></td>
    <td><%= dossier.title %></td>
    <td><%= dossier.kind %></td>
    <td><%= dossier.location %></td>
    <td>
      <%= link_to image_tag('icons/show.png', :title => 'Show'), dossier %>
      <%= link_to image_tag('icons/edit.png', :title => 'Edit'), edit_dossier_path(dossier) %>
      <%= link_to image_tag('icons/delete.png', :title => 'Destroy'), dossier, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
</div>

<%= will_paginate @dossiers %>

<br />

<%= link_to 'New Dossier', new_dossier_path %>
