- @years = Dossier.years(@collect_year_count)

= render 'search_form'

= render 'layouts/page_actions'
= render 'title'

.index.report.overview
  #dossiers.ce_table.block
    %table
      = render 'list_header'

      - @dossiers.each do |dossier|
        %tr[dossier]{:class => "#{dossier.topic_type}"}
          %td= dossier.signature

          %td.title
            = link_to dossier.title, dossier, {'data-href-container' => 'tr'}
            %br
            %span.keywords
              = dossier.keywords.join(', ')

          %td.document_count.availability
            = number_with_delimiter(dossier.document_count)
            = availability_notes(dossier)
          
          - dossier.years_counts(@collect_year_count).each do |count|
            %td.year= number_with_delimiter count[:count]
