= render 'search_form'

#page_actions.contextual

%h1#title= @dossier.title

%p.notice= notice

%h3= @dossier.signature


%h3= t_attr(:description)
#description= raw(target_blank(params['html_data'].html_safe))

%h3= t_attr(:keyword_text)
#keywords.section
  %ul#keyword-list.keywords= render :partial => 'keyword', :collection => @dossier.keywords.order('name')

- if @dossier.related_to.present?
  %h3= t_attr(:relation_list)
  #relations.section= render 'relations/list'
  
%h3= t_attr(:books)
#books.section
  %ul
    %li= link_to t_attr(:books_link), @dossier.books_link
    
%h3= t('katalog.title.document_count_html', :document_count => number_with_delimiter(@dossier.document_count), :first_document => @dossier.first_document_on.try(:strftime, '%Y'))
#document_counts.ce_table
  %table.document_counts
    %tr
      = render :partial => 'dossier_numbers/head', :collection => @dossier.numbers.present
      %th= t('katalog.total')
    %tr.odd
      = render :partial => 'dossier_numbers/amount', :collection => @dossier.numbers.present
      %td
        %strong= number_with_delimiter(@dossier.document_count)


