= render 'search_form'

= render 'shared/page_actions'
%h1= @report[:title]

.index.report
  #dossiers.ce_table.block{:class => @report[:orientation] }
    %table
      %tr.header
        - @report[:columns].each do |attr|
          %th{:class => attr.to_s}= show_header_for_report(attr)
        - Dossier.years(@report[:collect_year_count]).each do |year|
          %th.year= year
        
      = render :partial => 'reports/dossier', :collection => @dossiers
