<%= render 'search_form' %>

<%= render 'layouts/page_actions' %>
<h1><%= t('katalog.search_for', :query => @query) %></h1>
<%= paginated_section :renderer => PaginationListLinkRenderer do %>
  <%= render 'list' if @dossiers %>
<% end %>
<%= highlight_words(@query) %>
