= render 'search_form'

= render 'shared/page_actions'
#page_actions.contextual
  = contextual_link 'report', report_dossiers_path(:format => :pdf, :per_page => 'all', :search => params[:search]), :title => t('tooltips.dossiers.show_report')
  = contextual_link 'year_report', report_dossiers_path(:report_name => 'year', :format => :pdf, :per_page => 'all', :search => params[:search]), :title => t('tooltips.dossiers.show_year_report')

- if @dossiers.present?
  = render 'search_title'
  = paginated_section :renderer => PaginationListLinkRenderer, :show_always => @paginated_scope.present? do
    = render 'list'
- elsif @query
  %h1= t('katalog.nothing_found.title')
  %p= t('katalog.nothing_found.text')
- else
  %h1= t('katalog.search')

= highlight_words(@query)
