<%= render 'search_form' %>

<%= render 'layouts/page_actions' %>
<div id="search_actions" style="float: right; margin: 1em;">
  <%= contextual_link 'report', url_for({:controller => 'dossiers', :action => 'report', :format => :pdf, :per_page => 'all', :search => {:signature => @query}}), {:format => :pdf, :title => t('tooltips.dossiers.show_report')} %>
</div>
<%- if @dossiers.present? %>
  <%= render 'search_title' %>
  <%= paginated_section :renderer => PaginationListLinkRenderer, :show_always => @paginated_scope.present? do %>
    <%= render 'list' %>
  <%- end %>
<%- elsif @query %>
  <h1><%= t('katalog.nothing_found.title') %></h1>
  <p><%= t('katalog.nothing_found.text') %></p>
<%- else %>
  <h1><%= t('katalog.search') %></h1>
<%- end %>

<%= highlight_words(@query) %>
