<h1><%= @dossier %></h1>
<p class="notice"><%= notice %></p>

<ul class="dossier_topic_breadcrum">
  <% for parent in @dossier.parent_tree %>
    <li><%= link_to parent, dossiers_path(:dossier => {:signature => parent.signature }) %></li>
  <% end %>
</ul>

<h3>Schlagworte</h3>
<ul class="keywords">
  <% for keyword in @dossier.keyword_list %>
    <li><%= keyword %></li>
  <% end %>
</ul>

<% if @dossier.related_to.present? %>
<h3>Querverweise</h3>
<p>
  <%= @dossier.related_to %>
</p>
<% end %>

<h3>Dossiers</h3>
<div class="ce_table">
  <table>
    <%= @containers = @dossier.containers; render 'containers/list' %>
  </table>
</div>

<%= link_to t_crud('edit'), edit_dossier_path(@dossier) %> |
<%= link_to t_crud('back'), dossiers_path %>
