<h1><%= @dossier %></h1>
<p class="notice"><%= notice %></p>

<div class="section">
  <ul class="dossier_topic_breadcrumb">
    <% for parent in @dossier.parent_tree %>
      <li><%= link_to_topic(parent) %></li>
    <% end %>
  </ul>
</div>

<h3>Schlagworte <%= link_to image_tag('icons/add.png', :title => 'add'), new_dossier_keyword_path(@dossier), :remote => true %></h3>
<div class="section">
  <%= render 'keywords/list' %>
</div>

<h3>Querverweise</h3>
<div class="section">
  <%= render 'relations/list' if @dossier.related_to.present? %>
</div>

<h3>Dokumente</h3>
<table class="document_counts ce_table">
  <tr>
    <%= render :partial => 'dossier_numbers/head', :collection => @dossier.numbers.present %>
  </tr>
  <tr>
    <%= render :partial => 'dossier_numbers/amount', :collection => @dossier.numbers.present %>
  </tr>
</table>

<h3>Dossiers</h3>
<div class="ce_table">
  <table>
    <%= @containers = @dossier.containers; render 'containers/list' %>
  </table>
</div>

<%= link_to t_crud('edit'), edit_dossier_path(@dossier) %> |
<%= link_to t_crud('back'), dossiers_path %>
