= render 'search_form'

- cache [@dossier.cache_key, current_user.try(:roles)] do
  #page_actions.contextual
    - if user_signed_in?
      = contextual_link('edit', edit_dossier_path(@dossier))
      - if current_user.role?'admin'
        = contextual_link('history', dossier_versions_path(@dossier))
    = contextual_link('print', url_for(:format => :pdf))
    - if user_signed_in?
      = contextual_link('excel', url_for(:format => :xls))

  %h1#title= @dossier.title
  
  - unless user_signed_in?
    .waiting-time
      %h2
        Auf folgende Zeitabschnitte besteht eine Wartefrist:
      %ul#waiting-list
        - @dossier.waiting_list.each do |container|
          %li= container

  %p.notice= notice

  %h3= @dossier.signature

  - if @dossier.description.present?
    %h3= t_attr(:description)

    #description
      = simple_format(auto_link(@dossier.description, :html => {:target => '_blank'}))

  %h3= t_attr(:keyword_text)
  #keywords.section
    %ul#keyword-list.keywords
      = render :partial => 'keyword', :collection => @dossier.keywords.order('name')

  - if @dossier.related_to.present?
    %h3= t_attr(:relation_list)
    #relations.section
      = render 'relations/list'

  %h3= t('katalog.title.document_count_html', :document_count => number_with_delimiter(@dossier.document_count), :first_document => @dossier.first_document_on.try(:strftime, '%Y'))
  #document_counts.ce_table
    %table.document_counts
      %tr
        = render :partial => 'dossier_numbers/head', :collection => @dossier.numbers.present
        %th= t('katalog.total')
      %tr.odd
        = render :partial => 'dossier_numbers/amount', :collection => @dossier.numbers.present
        %td
          %strong= number_with_delimiter(@dossier.document_count)

  - if user_signed_in?
    #containers.ce_table
      %table
        - @containers = @dossier.containers
        = render 'containers/list'

  - content_for :javascript do
    = highlight_words(params['query'], 'keywords')
