<p class="notice"><%= notice %></p>

<p>
  <b>Signature:</b>
  <%= @dossier.signature %>
</p>

<p>
  <b>Title:</b>
  <%= @dossier.title %>
</p>

<p>
  <b>First document from:</b>
  <%= @dossier.first_document_on %>
</p>

<%= link_to t_crud('edit'), edit_dossier_path(@dossier) %> |
<%= link_to t_crud('back'), dossiers_path %>
