<h1><%= @dossier %></h1>
<p class="notice"><%= notice %></p>

<table>
  <tr>
    <th><%= t_attr(:signature) %></th>
    <td><%= @dossier.signature %></td>
  </tr>
  <tr>
    <th><%= t_attr(:title) %></th>
    <td><%= @dossier.title %></td>
  </tr>
  <tr>
    <th><%= t_attr(:first_document_on) %></th>
    <td><%= @dossier.first_document_on.try(:year) %></td>
  </tr>
</table>

<div class="ce_table block">
<table>
  <%= @containers = @dossier.containers; render 'containers/list' %>
</table>
</div>

<%= link_to t_crud('edit'), edit_dossier_path(@dossier) %> |
<%= link_to t_crud('back'), dossiers_path %>
