<%= render 'search_form' %>

<div id="page_actions" class="contextual">
  <%= contextual_link('edit', edit_dossier_path(@dossier)) %>
  <%= contextual_link('pdf', url_for(:format => :pdf)) %>
</div>
<h1 id="title"><%= @dossier.title %></h1>
<p class="notice"><%= notice %></p>

<h3><%= @dossier.signature %></h3>
<div id="breadcrumb" class="section">
  <ul class="dossier_topic_breadcrumb">
    <% for parent in @dossier.parents %>
      <li><%= link_to_topic(parent) %></li>
    <% end %>
  </ul>
</div>

<h3><%= t('activerecord.attributes.dossier.description') %></h3>
<div id="description">
  <%= auto_link(@dossier.description) %>
</div>

<h3><%= t('activerecord.attributes.dossier.keyword_text') %></h3>
<div id="keywords" class="section">
  <ul id="keyword-list" class="keywords">
    <%= render :partial => 'keyword', :collection => @dossier.keywords.order('name') %>
  </ul>
</div>

<h3><%= t('activerecord.attributes.dossier.relation_list') %></h3>
<div id="relations" class="section">
  <%= render 'relations/list' if @dossier.related_to.present? %>
</div>

<h3><%= t('katalog.title.document_count_html', :document_count => number_with_delimiter(@dossier.document_count), :first_document => @dossier.first_document_on.try(:strftime, '%Y')) %></h3>
<div id="document_counts" class="ce_table">
  <table class="document_counts">
    <tr>
      <%= render :partial => 'dossier_numbers/head', :collection => @dossier.numbers.present %>
      <th><%= t('katalog.total') %></th>
    </tr>
    <tr class="odd">
      <%= render :partial => 'dossier_numbers/amount', :collection => @dossier.numbers.present %>
      <td><strong><%= number_with_delimiter(@dossier.document_count) %></strong></td>
    </tr>
  </table>
</div>

<% if user_signed_in? %>
  <div id="containers" class="ce_table">
    <table>
      <%= @containers = @dossier.containers; render 'containers/list' %>
    </table>
  </div>
<% end %>

<%= highlight_words(params['query'], 'keywords') %>
