<%= render 'search_form' %>

<div id="page_actions" style="float: right; margin: 1em">
  <%= contextual_link('edit', edit_dossier_path(@dossier)) %>
  <%= contextual_function('print', 'window.print();') %>
  <%= contextual_link('pdf', url_for(:format => :pdf)) %>
</div>
<h1><%= @dossier %></h1>
<p class="notice"><%= notice %></p>

<div class="section">
  <ul class="dossier_topic_breadcrumb">
    <% for parent in @dossier.parent_tree %>
      <li><%= link_to_topic(parent) %></li>
    <% end %>
  </ul>
</div>

<h3>Schlagworte</h3>
<div class="section">
  <%= render 'keywords/list' %>
</div>

<h3>Querverweise</h3>
<div class="section">
  <%= render 'relations/list' if @dossier.related_to.present? %>
</div>

<h3>Dokumente</h3>
<div class="ce_table">
  <table class="document_counts">
    <tr>
      <%= render :partial => 'dossier_numbers/head', :collection => @dossier.numbers.present %>
    </tr>
    <tr class="odd">
      <%= render :partial => 'dossier_numbers/amount', :collection => @dossier.numbers.present %>
    </tr>
  </table>
</div>

<h3>Dossiers</h3>
<div class="ce_table">
  <table>
    <%= @containers = @dossier.containers; render 'containers/list' %>
  </table>
</div>
