= render 'search_title'
.index
  #dossiers.ce_table.block.landscape-table
    %table
      %tr.header
        %th.signature
          = t_attr('signature', Dossier)
        %th.title{:style => 'width: 450px;'}
          = t_attr('title', Dossier)
        %th.first_document_year
          = t_attr('since', Dossier)
        - years = Dossier.years
        - years.each do |year|
          %th.year
            = year
      = render :partial => @dossiers, :locals => {:year_report => years.count}

