- years = Dossier.years(@collect_year_count)

= render 'search_title'
.index.report
  #dossiers.ce_table.block.landscape-table
    %table
      %tr.header
        - @columns.each do |attr|
          %th{:class => attr.to_s}= t_attr(attr.to_s)

        %th.first_document_year= t_attr(:first_document_year)
        - years.each do |year|
          %th.year= year

      = render :partial => @dossiers, :locals => {:year_report => years.count - 2}
