= render 'dossiers/search_form'

#edit_report
  #edit_report_header
    %h1= t('katalog.main_navigation.edit_year')

    %label= t('katalog.years_amount')
    = select 'edit_report', 'year_amount', 1..10, {:selected => @years.count}

  = paginated_section @dossiers, :renderer => PaginationListLinkRenderer do
    .ce_table.block
      %table
        = render 'list_header'
        - @tabindex = 1
        = render :partial => 'dossier', :collection => @dossiers
