= render '/dossiers/search_form'
- cache [@query_topic, current_user.try(:roles)] do
  #page_actions.contextual
    = contextual_link('edit', edit_query_topic_path(@query_topic), :title => t('tooltips.topics.edit'))
  %h1#title
    = @query_topic.signature
    = @query_topic.title
  %p.notice
    = notice
  #breadcrumb.section
    %ul.dossier_topic_breadcrumb
      - for parent in @query_topic.parents
        %li= link_to_topic(parent)

- if @dossiers
  = render 'dossiers/list'
