= semantic_form_for(@topic) do |f|
  = f.inputs do
    = f.input :signature
    = f.input :title
    %li
      %label{:for => "update_signature"}
        Auf alle anwenden
      = check_box_tag 'update_signature', 'Auf alle anwenden'
  = f.actions do
    = f.action(:submit)

- @dossiers = @topic.direct_children
= render 'dossiers/list'
