<tr class="topic">
  <td><%= @new_signature ? topic.new_signature : topic.signature %></td>
  <td><%= topic.title %></td>
  <td><%= topic.kind %></td>
  <td><%= topic.location %></td>
  <td><%= topic.document_count(@new_signature) %></td>
  <td>
  </td>
</tr>
