- cache [:list, is_edit_report?, action_name, topic.cache_key, user_cache_key] do
  %tr[topic]{:class => topic.topic_type}
    %td= topic.signature
    %td.title= link_to topic.title, url_for_topic(topic), {'data-href-container' => 'tr'}
    %td.document_count
      = number_with_delimiter(topic.document_count)
    %td.action-links
      - if user_signed_in? and not is_edit_report?
        = link_to image_tag('icons/edit.png', :title => t('crud.edit', :model => '')), edit_topic_path(topic)
        = link_to image_tag('icons/delete.png', :title => t('crud.delete', :model => '')), topic, :confirm => t_confirm_delete(topic), :remote => true, :method => :delete
