<% cache topic do %>
<tr class="topic">
  <td><%= topic.signature %></td>
  <td><%= topic.title %></td>
  <td><%= topic.kind %></td>
  <td><%= topic.location %></td>
  <td><%= topic.total_amount %></td>
  <td>
  </td>
</tr>
<% end %>
