<h1><%= t('controllers.index.keyword') %></h1>

<div class="ce_table block">
<table>
  <tr>
    <th><%= t_attr('keyword', Dossier) %></th>
    <th style="text-align: right"><%= t('katalog.count') %></th>
  </tr>
  <%= render :partial => 'keyword', :collection => @index %>
</table>
</div>

<%= t_paginate %>
