= paginated_section do
  .ce_table.block
    %table.list#user_list
      %thead
        %tr
          %th
            = t_attr :email
          %th
            = t_attr :roles
          %th
            = t_attr :created_at
          %th

      %tbody
        = render @users

