%tr[user]
  %td
    = link_to user.username, user, {'data-href-container' => 'tr'}
  %td
    = user.roles.map{|role| t(role.name, :scope => 'cancan.roles')}.join(', ')
  %td
    = user.created_at.to_date
  %td
    = link_to image_tag('icons/edit.png', :title => t('tooltips.locations.edit')), edit_user_path(user)
    = link_to image_tag('icons/delete.png', :title => t('tooltips.locations.delete')), user, :confirm => t_confirm_delete(user), :method => :delete