%h2= t('devise.forgot_your_password')

= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f|
  = f.input :email, :input_html => {'data-autofocus' => true}
  = f.button :submit, t('devise.send_reset_instructions')

= render :partial => "devise/shared/links"
