.contextual
  - available_reports = Report.accessible_by(current_ability, :index)
  - unless available_reports.empty? or @report
    %span#report_actions
      = contextual_link('reports', '#')
      %ul
        - for report in available_reports
          %li= link_to(report.title, report_dossiers_path(:report_name => report.name, :search => params[:search]))

  = contextual_pdf_link(@dossiers.length)

  - if (user_signed_in? and not @is_a_report)
    %span#excel_actions
      = contextual_link('excel', '#')
      %ul
        %li= link_to(t_action(:normal_excel), url_for(params.merge(:format => :xls, :per_page => 'all')))
        %li= link_to(t_action(:container_excel), url_for(params.merge(:format => :xls, :per_page => 'all', :excel_format => 'containers')))

  - if controller_name == 'dossiers' && params[:search] && params[:search][:text]
    = link_to t('katalog.show_keywords'), '#', :id => 'show-key-words-link', :class => 'icon icon-plus-text', :title => t('katalog.show_keywords'), :style => (session[:hide_keywords] == true ? '' : 'display:none;')
    = link_to t('katalog.hide_keywords'), '#', :id => 'hide-key-words-link', :class => 'icon icon-minus-text', :title => t('katalog.hide_keywords'), :style => (session[:hide_keywords] == true ? 'display:none;' : '')
