<% cache :public_footer do %>
<div id="such">
  <form action="suchergebnis.html" method="get">
    <div><input type="text" name="keywords" class="text" value="" /><input type="image" src="<%= image_path('doku-zug.ch/search2.png') %>" alt="Suche" class="submit" /></div>
  </form>
</div>

<div class="mod_customnav block" id="seitenkarte">
  <a href="#skipNavigation20" class="invisible">
    <%= t('katalog.shared.footer.navigation.skip') %>
  </a>
  <ul class="level_1">
    <li class="first">
      <a href="team.html" title="Über uns" class="first">
        <%= t('katalog.shared.footer.navigation.over_us') %>
      </a>
    </li>
    <li>
      <a href="http://www.doku-zug.ch/team.html" title="Team">
        <%= t('katalog.shared.footer.navigation.team') %>
      </a>
    </li>
    <li>
      <a href="http://www.doku-zug.ch/leitbild.html" title="Leitbild">
        <%= t('katalog.shared.footer.navigation.concept') %>
      </a>
    </li>
    <li>
      <a href="http://www.doku-zug.ch/geschichte.html" title="Geschichte">
        <%= t('katalog.shared.footer.navigation.history') %>
      </a>
    </li>
    <li>
      <a href="http://www.doku-zug.ch/archiv-bibliothek.html" title="Unser Angebot">
        <%= t('katalog.shared.footer.navigation.offer') %>
      </a>
    </li>
    <li>
      <a href="http://www.doku-zug.ch/archiv-bibliothek.html" title="Archiv, Bibliothek">
        <%= t('katalog.shared.footer.navigation.archive') %>
      </a>
    </li>
    <li>
      <a href="http://www.doku-zug.ch/publikationen.html" title="Publikationen">
        <%= t('katalog.shared.footer.navigation.publication') %>
      </a>
    </li>
    <li>
      <a href="http://www.doku-zug.ch/kataloge.html" title="Kataloge">
        <%= t('katalog.shared.footer.navigation.catalogue') %>
      </a>
    </li>
    <li>
      <a href="http://www.doku-zug.ch/aktuell.html" title="News">
        <%= t('katalog.shared.footer.navigation.news') %>
      </a>
    </li>
    <li>
      <a href="http://www.doku-zug.ch/aktuell.html" title="Aktuell">
        <%= t('katalog.shared.footer.navigation.latest') %>
      </a>
    </li>
    <li>
      <a href="http://www.doku-zug.ch/thema-der-woche.html" title="Thema der Woche">
        <%= t('katalog.shared.footer.navigation.subject_of_the_week') %>
      </a>
    </li>
    <li>
      <a href="http://www.doku-zug.ch/neue-buecher.html" title="Neue Bücher">
        <%= t('katalog.shared.footer.navigation.new_books') %>
      </a>
    </li>
    <li>
      <a href="http://www.doku-zug.ch/kontakt.html" title="Kontakt">
        <%= t('katalog.shared.footer.navigation.contact') %>
      </a>
    </li>
    <li>
      <a href="http://www.doku-zug.ch/links.html" title="Links">
        <%= t('katalog.shared.footer.navigation.links') %>
      </a>
    </li>
    <li class="last">
      <a href="http://www.doku-zug.ch/newsletter.html" title="Newsletter" class="last">
        <%= t('katalog.shared.footer.navigation.newsletter') %>
      </a>
    </li>
  </ul>
  <a name="skipNavigation20" id="skipNavigation20" class="invisible">&nbsp;</a>
</div>

<div id="schnelllinks">
  <div class="ce_text block">
    <p>
      <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.bibliothekenzug.ch">
        <%= t('katalog.shared.footer.short_cuts.library') %>
      </a>
      <br /><br />
      <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.zug.ch/staatsarchiv">
        <%= t('katalog.shared.footer.short_cuts.state_archive') %>
      </a>
      <br /><br />
      <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.afz.ethz.ch">
        <%= t('katalog.shared.footer.short_cuts.zurich_archive') %>
      </a><br /><br />
      <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.sozialarchiv.ch">
        <%= t('katalog.shared.footer.short_cuts.social_archive') %>
      </a><br /><br />
      <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.ub.unibas.ch/wwz-bibliothek-swa/schweiz-wirtschaftsarchiv/allgemeines/">
        <%= t('katalog.shared.footer.short_cuts.economy_archive') %>
      </a><br /><br />
      <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.vsa-aas.org">
        <%= t('katalog.shared.footer.short_cuts.archivist') %>
      </a><br /><br />
      <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.bis.info">
        <%= t('katalog.shared.footer.short_cuts.library_information') %>
      </a>
    </p>
  </div>
</div>
<% end %>
