- topic_activ = active?(topic)
%li{:class => "topic #{topic.topic_type} #{'active' if topic_activ}"}
  %span.signature= topic.signature
  - if topic_activ
    = link_to(truncate(topic.title, length: 30), url_for_topic(topic), :title => topic.title, :class => 'active')
  - elsif topic.signature.split('.').count == 3
    = link_to(truncate(topic.title, length: 30), url_for_topic(topic), :title => topic.title)
  - else
    = link_to(truncate(topic.title, length: 30), navigation_topic_path(topic), :title => topic.title, :remote => true)
  - if topic_activ and topic.is_a?(Topic) and topic.topic_type != :detail
    %ul= render :partial => 'shared/topic', :collection => topic.direct_children
