<tr class="container">
  <td><%= container.text_field :title, :style => 'width: 100%' %></td>
  <td><%= container.text_field :first_document_year, :size => '6' %></td>
  <td><%= container.text_field :container_type_code, :size => '2' %></td>
  <td><%= container.text_field :location_code, :size => '2' %></td>
  <td><%= remove_link_unless_new_record(container) %></td>
</tr>
