%tr.container
  %td.container_period
    = container.text_field :period, :style => 'width: 98%'
  %td.type_code
    = container.text_field :container_type_code, :size => '2', :class => 'container_type_code_auto_completion'
    = container.semantic_errors :container_type
  %td.location_code
    = container.text_field :location_code, :size => '2', :class => 'container_location_code_auto_completion'
    = container.semantic_errors :location
  %td.remove_link
    = remove_link_unless_new_record(container)
