<div class="ce_table block">
<table>
<% cache :container_list_header do %>
  <tr>
    <th><%= t_attr(:title, Container) %></th>
    <th><%= t_attr(:first_document_on, Container) %></th>
    <th><%= t_attr(:container_type, Container) %></th>
    <th><%= t_attr(:location, Container) %></th>
  </tr>
<% end %>

<%= render @containers %>
</table>
</div>
