<% cache topic_geo do %>
<tr class="topic_geo">
  <td><%= topic_geo.signature %></td>
  <td><%= topic_geo.title %></td>
  <td><%= topic_geo.kind %></td>
  <td><%= topic_geo.location %></td>
  <td><%= topic_geo.total_amount %></td>
  <td>
  </td>
</tr>
<% end %>
