<% unless @new_signature %>
<tr class="topic_geo">
  <td><%= @new_signature ? topic_geo.new_signature : topic_geo.signature %></td>
  <td><%= topic_geo.title %></td>
  <td><%= topic_geo.kind %></td>
  <td><%= topic_geo.location %></td>
  <td><%= topic_geo.document_count(@new_signature) %></td>
  <td>
  </td>
</tr>
<% end %>
