= semantic_form_for resource do |f|
  = f.semantic_errors

  = f.inputs t_attr(:personal_data) do
    = f.input :first_name
    = f.input :last_name
    = f.input :email

  = f.inputs t_attr(:reservation) do
    = f.input :year_selection, :as => :check_boxes, :collection => @reservation.dossier.waiting_list, :required => true
    = f.semantic_errors :dossier_years
    = f.input :pickup, :as => :string, :hint => 'Unsere Öffnungszeiten sind: Mo, Di, Mi, Fr 10-18 Uhr, Donnerstag 10-20 Uhr', :input_html => {'date-picker' => true}
    = f.input :dossier_id, :as => :hidden

  = f.actions do
    = f.action(:submit)

:javascript
  // Formtastic has no way to set the correct checkbox in a collection
  $(":checkbox[value='#{@year}']").prop("checked","true")
