%p Liebe/r #{@reservation.first_name} #{@reservation.last_name}
%p Vielen Dank für Ihre Reservation. Sie können das Dossier #{@reservation.dossier}, #{@reservation.dossier_years} ab #{@reservation.pickup} 10.00 Uhr bei doku-zug.ch konsultieren.
%p Mit freundlichen Grüssen Team <a href="http://www.doku-zug.ch" target="_blank">http://www.doku-zug.ch</a>
