Liebe/r #{@reservation.first_name} #{@reservation.last_name}
Vielen Dank für Ihre Reservation. Sie können das Dossier #{@reservation.dossier}, #{@reservation.dossier_years} ab #{@reservation.pickup} 10.00 Uhr bei doku-zug.ch konsultieren.
Mit freundlichen Grüssen
= link_to 'doku-zug.ch', 'http://www.doku-zug.ch/'
