%ul
  - if object
    - object.attributes.except('id', 'created_at', 'updated_at').each do |attr|
      %li
        %label
          = t("activerecord.attributes.#{object.class.to_s.underscore}.#{attr[0]}")
        .content
          = attr[1]
  - else
    %li
      = t('katalog.versions.was_deleted')