%tr[version]{:class => cycle('odd', 'even')}
  %td
    = t_model version.item_type.constantize
  %td
    = link_to title(version), version, {'data-href-container' => 'tr'}
  %td
    = user_email version
  %td
    = version.created_at.to_s(:time_with_seconds)
  %td
    = action(version)
  %td
