%tr[version]{:class => cycle('odd', 'even')}
  %td
    = model_name version
  %td
    = link_to version.item.to_s, version, {'data-href-container' => 'tr'}
  %td
    = user_email version
  %td
    = version.created_at.to_s(:time_with_seconds)
  %td
    = action(version)
  %td
