#page_actions.contextual
  = contextual_link('revert', revert_version_path(@version))

%h1
  = t('katalog.versions.changes_of', :model => @version.item_type)

%h2
  = t_attr(:difference_to_current)

%ul#version-changes
  - differences(@version).each do |attr|
    %li
      %h3
        = t("activerecord.attributes.#{@version.item_type.underscore}.#{attr[:attribute]}")
      %ul.changes
        %li
          %label
            = t_attr(:previous_version)
          = attr[:before]
        %li
          %label
            = t_attr(:next_version)
          = attr[:after]

%a#show-versions{:href => '#'}
  = t_attr(:show_versions)


#versions-bottom{:style => 'display:none'}
  #version-left-side
    %h3
      = t_attr(:previous_version)

    = render :partial => 'object', :locals => {:object => @version.reify}

  #version-right-side
    %h3
      = t_attr(:next_version)
    - next_version = next_object(@version)
    = render :partial => 'object', :locals => {:object => next_version ? next_version : original(@version) }

%br
  
%h2
  = t_attr(:additional_information)

%ul#version-information
  %li
    %label
      = t_attr(:changed_from)
    = user_email(@version)
  %li
    %label
      = t_attr(:changed_at)
    = @version.created_at.to_s(:time_with_seconds)
  %li
    %label
      = t_attr(:action)
    = @version.event
