%h1
  = t('katalog.versions.changes_of', :model => @version.item_type)

%h2
  = t('katalog.versions.difference_to_current', :model => @version.item_type)

#versions-top
  #version-left-side
    %h3
      = t('katalog.versions.previous_version')

    = render :partial => 'object', :locals => {:object => @version.reify}

  #version-right-side
    %h3
      = t('katalog.versions.next_version')

    = render :partial => 'object', :locals => {:object => next_object(@version)}

#versions-bottom
  #version-left-side-bottom
    %h3
      = t('katalog.versions.current_version')

    = render :partial => 'object', :locals => {:object => original(@version)}

%br
  
%h2
  = t('katalog.versions.additional_information')  

%ul#version-information
  %li
    %label
      = t('katalog.versions.changed_from')
    = user_email(@version)
  %li
    %label
      = t('katalog.versions.changed_at')
    = @version.created_at
  %li
    %label
      = t('katalog.versions.action')
    = @version.event