<% cache topic_dossier do %>
<tr class="topic_dossier">
  <td><%= topic_dossier.signature %></td>
  <td><%= topic_dossier.title %></td>
  <td><%= topic_dossier.kind %></td>
  <td><%= topic_dossier.location %></td>
  <td><%= topic_dossier.total_amount %></td>
  <td>
  </td>
</tr>
<% end %>
