<tr class="topic_dossier">
  <td><%= @new_signature ? topic_dossier.new_signature : topic_dossier.signature %></td>
  <td><%= topic_dossier.title %></td>
  <td><%= topic_dossier.kind %></td>
  <td><%= topic_dossier.location %></td>
  <td style="text-align: right"><%= number_with_delimiter(topic_dossier.document_count(@new_signature)) %></td>
  <td>
  </td>
</tr>
