= semantic_form_for(:keyword, @keyword, :url => dossier_keywords_path(@dossier), :remote => true, :html => {:id => 'new-keyword'}) do |f|
  = f.inputs do
    = f.input :name
  = f.actions do
    = f.action(:submit)
