= render 'search_form'
%h1= t('controllers.index.keyword')
= paginated_section :renderer => PaginationListLinkRenderer, :show_always => @paginated_scope.present? do
  .ce_table.block
    %table
      - cache :key_words_header do
        %thead
          %tr
            %th= t_attr('keyword', Dossier)
      %tbody
        = render @keywords.map{|keyword| keyword.becomes(Keyword)}
