= semantic_form_for(@container_type) do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :title
    = f.input :code
    = f.input :description, :input_html => {:rows => 3}
  = f.actions do
    = f.action(:submit)
