<%= contextual_links %>

<h1><%= t_title %></h1>

<div class="ce_table block">
<table>
  <tr>
    <th><%= t_attr('title') %></th>
    <th><%= t_attr('code') %></th>
    <th><%= t_attr('description') %></th>
    <th></th>
  </tr>

<% @container_types.each do |container_type| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= container_type.title %></td>
    <td><%= container_type.code %></td>
    <td><%= container_type.description %></td>
    <td>
      <%= link_to image_tag('icons/show.png', :title => t('tooltips.container_types.show')), container_type %>
      <%= link_to image_tag('icons/edit.png', :title => t('tooltips.container_types.edit')), edit_container_type_path(container_type) %>
      <%= link_to image_tag('icons/delete.png', :title => t('tooltips.container_types.delete')), container_type, :confirm => t_confirm_delete(container_type), :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
</div>

<%= will_paginate %>
