<tr class="topic_group">
  <td><%= @new_signature ? topic_group.new_signature : topic_group.signature %></td>
  <td><%= topic_group.title %></td>
  <td><%= topic_group.kind %></td>
  <td><%= topic_group.location %></td>
  <td><%= topic_group.document_count(@new_signature) %></td>
  <td>
  </td>
</tr>
