<tr class="topic_group">
  <td><%= topic_group.signature %></td>
  <td><%= topic_group.title %></td>
  <td><%= topic_group.kind %></td>
  <td><%= topic_group.location %></td>
  <td><%= topic_group.total_amount %></td>
  <td>
  </td>
</tr>
