<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>
    <ul>
    <% @location.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
