<h1>Standorte</h1>

<div class="ce_table block">
<table>
  <tr>
    <th><%= t_attr('title') %></th>
    <th><%= t_attr('code') %></th>
    <th><%= t_attr('address') %></th>
    <th><%= t_attr('availability') %></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= location.title %></td>
    <td><%= location.code %></td>
    <td><%= location.address %></td>
    <td><%= location.availability %></td>
    <td>
      <%= link_to image_tag('icons/show.png', :title => 'Show'), location %>
      <%= link_to image_tag('icons/edit.png', :title => 'Edit'), edit_location_path(location) %>
      <%= link_to image_tag('icons/delete.png', :title => 'Destroy'), location, :confirm => t_confirm_delete(location), :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
</div>

<%= will_paginate @locations %>

<br />

<%= link_to 'New Location', new_location_path %>
