<p class="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @location.title %>
</p>

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
