!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}/
    %title
      = t('katalog.application.title')

    %link{:rel => "shortcut icon", :href => image_path('favicon.ico')}/

    = stylesheet_link_tag 'application', :media => 'all'
    = stylesheet_link_tag 'katalog_internal' if user_signed_in?
    = stylesheet_link_tag 'print', :media => 'print'
    /[if lt IE 7]
      = stylesheet_link_tag 'ie6', :media => 'screen, projection'
    = javascript_include_tag "application"

    = csrf_meta_tag
  %body#top
    #wrapper
      - cache 'header_' + user_signed_in?.to_s do
        - unless user_signed_in?
          = render 'shared/public_header'
        - else
          #over-main
            = render 'shared/breadcrumb_navigation'
      #container
        #left
          - if user_signed_in?
            #logo-signed-in= render 'shared/logo'
          .inside
            #mainmenu.mod_navigation.block
              %a.invisible{:href => "#skipNavigation3"}
                = t('katalog.application.skip_navigation')
              = render_navigation(:context => :main, :expand_all => true)
              %a#skipNavigation3.invisible{:name => "skipNavigation3"}
                &nbsp;
        #right
          .inside
            .mod_newslist.block
              %h1
                = t('katalog.application.scroll')
              .layout_full.block.odd
                = render 'shared/topic_index'
              %h1
                = t('katalog.application.grub')
              .layout_full.block.last.odd
                = render 'shared/tag_cloud'
        #main
          .inside
            .mod_newslist.block
              = render :partial => 'shared/flash', :locals => {:flash => flash}
              = yield
          #clear
      = render 'shared/public_footer'
    = yield :javascript
