<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Katalog</title>

  <%= stylesheet_link_tag 'doku-zug.ch/typolight', 'doku-zug.ch/basic', 'doku-zug.ch/content', 'doku-zug.ch/layout', 'doku-zug.ch/navigation', 'doku-zug.ch/welcome', 'doku-zug.ch/application' %>
  <%= stylesheet_link_tag 'katalog' %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'formtastic', 'formtastic_changes' %>

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body id="top">
  <div id="wrapper">
    <div id="header">
      <div class="inside">
        <div id="logo">
          <a href="" title="doku-zug.ch - Öffentliches Dokumentationszentrum"><%= image_tag "doku-zug.ch/logo.gif", :alt => "doku-zug.ch - Öffentliches Dokumentationszentrum" %></a>
        </div>
        <div class="mod_breadcrumb block">
          <a href="http://doku-zug.ch.gutenberg.ch-meta.net/" title="doku-zug.ch">doku-zug.ch</a> &#62; 
          <span class="active">Home</span>
        </div>
      </div>
    </div>

    <div id="container">
      <div id="left">
        <div class="inside">
          <div class="mod_navigation block" id="mainmenu">
            <a href="#skipNavigation3" class="invisible">Navigation überspringen</a>
            <ul class="level_1">
              <%= navigation_item("Dossier auflisten", dossiers_path) %>
              <%= navigation_item("Dossier suchen", search_dossiers_path) %>
              <%= navigation_item("Dossier anlegen", new_dossier_path) %>
            </ul>
            <a name="skipNavigation3" id="skipNavigation3" class="invisible">&nbsp;</a>
          </div>
        </div>
      </div>

      <div id="right">
        <div class="inside">
          <div class="mod_newslist block">
            <h1>Stöbern</h1>

            <div class="layout_full block last odd">
              <div class="ce_text">
                <p class="tag_cloud">
                <% @tags = Dossier.tag_counts_on(:tags, :limit => 25, :at_least => 2) %>
                <% tag_cloud(@tags, %w(nube1 nube2 nube3 nube4 nube5 nube6)) do |tag, css_class| %>
                    <%= link_to tag.name, dossiers_path(:dossier => {:tag => tag.name }), :class => css_class %>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="main">
        <div class="inside">
          <div id="printthis">
            <a href="javascript:printPage()"><%= image_tag "doku-zug.ch/printer.png", :alt => "Seite drucken", :title => "Seite drucken" %></a>&nbsp;&nbsp;&nbsp;<a href="sitemap.html" title="Sitemap"><%= image_tag "doku-zug.ch/sitemap_color.png", :alt => "Sitemap", :title => "Sitemap" %></a>
          </div>

          <div class="mod_newslist block">
          <%= yield %>
          </div>
        </div>
         
        <div id="clear"></div>
      </div>
    </div>

    <div id="footer">
      <div class="inside">
        <div id="such">
          <form action="suchergebnis.html" method="get">
            <div><input type="text" name="keywords" class="text" value="" /><input type="image" src="<%= image_path('doku-zug.ch/search2.png') %> alt="Suche" class="submit" /></div>
          </form>
        </div>
        <div class="mod_customnav block" id="seitenkarte">
          <a href="#skipNavigation20" class="invisible">Navigation überspringen</a>
          <ul class="level_1">
            <li class="first"><a href="team.html" title="Über uns" class="first">Über uns</a></li>
            <li><a href="team.html" title="Team">Team</a></li>
            <li><a href="leitbild.html" title="Leitbild">Leitbild</a></li>
            <li><a href="geschichte.html" title="Geschichte">Geschichte</a></li>
            <li><a href="archiv-bibliothek.html" title="Unser Angebot">Unser Angebot</a></li>
            <li><a href="archiv-bibliothek.html" title="Archiv, Bibliothek">Archiv, Bibliothek</a></li>
            <li><a href="publikationen.html" title="Publikationen">Publikationen</a></li>
            <li><a href="kataloge.html" title="Kataloge">Kataloge</a></li>
            <li><a href="aktuell.html" title="News">News</a></li>
            <li><a href="aktuell.html" title="Aktuell">Aktuell</a></li>
            <li><a href="thema-der-woche.html" title="Thema der Woche">Thema der Woche</a></li>
            <li><a href="neue-buecher.html" title="Neue Bücher">Neue Bücher</a></li>
            <li><a href="kontakt.html" title="Kontakt">Kontakt</a></li>
            <li><a href="links.html" title="Links">Links</a></li>
            <li class="last"><a href="newsletter.html" title="Newsletter" class="last">Newsletter</a></li>
          </ul>
          <a name="skipNavigation20" id="skipNavigation20" class="invisible">&nbsp;</a>
        </div>

        <div id="schnelllinks">
          <div class="ce_text block">
            <p>
              <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.bibliothekenzug.ch">Stadt- und Kantonsbibliothek Zug</a><br /><br />
              <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.zug.ch/staatsarchiv">Staatsarchiv des Kantons Zug</a><br /><br />
              <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.afz.ethz.ch">Archiv für Zeitgeschichte Zürich</a><br /><br />
              <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.sozialarchiv.ch">Schweizerisches Sozialarchiv</a><br /><br />
              <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.ub.unibas.ch/wwz-bibliothek-swa/schweiz-wirtschaftsarchiv/allgemeines/">Schweizerisches Wirtschaftsarchiv</a><br /><br />
              <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.vsa-aas.org">Verein Schweizerischer ArchivarInnen</a><br /><br />
              <a class="externerlink" onclick="window.open(this.href); return false;" href="http://www.bis.info">Bibliothek Information Schweiz</a>
            </p>
          </div>
        </div>
        <div class="clear"></div> 
      </div>
    </div>
  </div>
</body>
</html>
